<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.TagMapper">

    <resultMap id="TagResultMap" type="com.example.springboot.entity.Tag">
        <id property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
        <result property="tagType" column="tag_type"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="TagResultMap">
        SELECT * FROM tag WHERE tag_id = #{tagId}
    </select>

    <select id="findAll" resultMap="TagResultMap">
        SELECT * FROM tag
    </select>

    <insert id="insert" parameterType="com.example.springboot.entity.Tag" useGeneratedKeys="true" keyProperty="tagId">
        INSERT INTO tag(tag_name, tag_type)
        VALUES(#{tagName}, #{tagType})
    </insert>

    <update id="update" parameterType="com.example.springboot.entity.Tag">
        UPDATE tag 
        SET tag_name=#{tagName}, tag_type=#{tagType}
        WHERE tag_id=#{tagId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM tag WHERE tag_id=#{tagId}
    </delete>

</mapper> 